{
  "extends": "airbnb",
  "env": {
    "jest": true,
    "node": true
  },
  "rules": {
    "arrow-body-style": ["error", "always"],
    "class-methods-use-this": 0,
    "no-continue": 0,
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": [1, { "forbid": ['any', 'array'] }],
    "import/prefer-default-export": 0
  },
  "globals": {
    "FileList": true,
    "FormData": true,
    "AsyncStorage" : true,
    "WebSocket": true
  }
}
